@mixin view {
    width: 100%;
    min-height: calc(100% - 3rem);
    margin-top: 3rem;
    background-color: $color-main-tint-04;
}

@mixin custom-scrollbar {
    &::-webkit-scrollbar {
        width: 0.5rem;
    }

    &::-webkit-scrollbar-track {
        background: $color-gray-tint-04;
        border-radius: 5px;
    }

    &::-webkit-scrollbar-thumb {
        background: $color-gray-tint-02;
        border-radius: 5px;
    }

    &::-webkit-scrollbar-thumb:hover {
        background: $color-gray-tint-01;
    }
}

@mixin link {

    .link:link,
    .link:visited {
        text-decoration: none;
        color: $color-gray;
    }

    .link:hover,
    .link:active {
        color: $color-white;
        cursor: pointer;
    }
}

@mixin button {
    .btn {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;
        height: 2rem;
        padding: 0.5rem;
        border: none;
        border-radius: 5px;
        box-shadow: $shadow;
        background-color: $color-main-tint-02;
        color: inherit;
        font-weight: bold;
        cursor: pointer;

        &:hover,
        &:active {
            background-color: $color-main;
            color: $color-white;
        }

        &.btn--success {
            background-color: $color-success-tint-01;

            &:hover,
            &:active {
                background-color: $color-success;
            }
        }

        &.btn--critical {
            background-color: $color-critical-tint-01;

            &:hover,
            &:active {
                background-color: $color-critical;
            }
        }

        &:active {
            box-shadow: $shadow-active;
        }

        &:disabled,
        &:hover:disabled,
        &:active:disabled {
            background-color: $color-gray-tint-04;
            color: inherit;
            box-shadow: $shadow;
            cursor: default;
        }

        &.btn--save {
            background-color: $color-success-tint-01;

            &:hover,
            &:active {
                background-color: $color-success;
            }
        }

        &.btn--login,
        &.btn--signup {
            background-color: $color-white;

            &:hover,
            &:active {
                color: inherit;
                background-color: $color-gray-tint-04;
            }
        }
    }
}

@mixin modal {
    .modal {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        z-index: 99;

        &.modal--show {
            display: block;
        }

        .modal__background {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background-color: rgba($color-gray-tint-04-rgb, 0.75);
            width: 100%;
            height: 100%;

            .modal__content {
                background-color: $color-main-tint-02;
                border: 1px solid $color-gray;
                box-shadow: $shadow;
                border-radius: 10px;
                margin: 1rem;
                padding: 1rem;
            }
        }
    }
}

@mixin suspense {
    .suspense__text {
        width: 100%;
        height: 100%;
        font-size: 2rem;
    }

    // todo: (optional) some suspense loading bar, circle, etc.
}